@{
    ViewData["Title"] = "Home Page";
}
@model Reservation.Models.ViewModel.JourneySearchModel

<div style="height:40px; background-color:#2F4EB4" class="mb-4"></div>
<input type="hidden" asp-for="DestinationId" name="DestinationId" id="DestinationId" />
<input type="hidden" asp-for="SourceId" name="SourceId" id="SourceId" />
<input type="hidden" asp-for="DateInput" name="DateInput" id="DateInput" />

@foreach (var item in Model.Journeys)
{
    <div class="row pt-2">

        <div class="input-group col-xl-12 col-md-4 pt-2 pb-2 bg-white">
            <div class="col-xl-2 col-2">
                <label style="color: #3640B1; font-size: 9pt">Kalkış</label>
                <label style="color: #192289; font-size:15pt">@item.Journey.Departure.ToShortTimeString()</label>
            </div>

            <div class="col-xl-2 col-2 offset-1">
                <label style="color: #3640B1; font-size: 9pt">Varış</label>
                <label style="color: #192289; font-size: 15pt"> @item.Journey.Arrival.ToShortTimeString()</label>
            </div>

            <div class="col-xl-5 col-5 offset-1">
                <button class="form-control" style="background-color: #D23B38; color:white; font-size:12pt">@item.Journey.InternetPrice @item.Journey.Currency</button>
            </div>

            <div class="col-12" style="font-size:12pt; color: #083145 ">@item.Journey.Origin - @item.Journey.Destination</div>
        </div>

    </div>
}

@section Scripts
{
    <environment names="Development">
        <script src="~/js/Journey/Index.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script asp-append-version="true" src="~/js/Journey/Index.js"></script>
    </environment>
}
